<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tmvdl.sucht" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sucht</name>
    <description>A sucht app</description>
    <author email="mail@mail.com" href="http://github.com/tmvdl">Tarsis de Lima</author>
    <content src="index.html" />
    <access origin="*" />
    <hook type="after_platform_add" src="hooks/copy_gradle.sh" />
</widget>
