name: Docker pull

on:
  workflow_dispatch:
  schedule:
    - cron: '35 * * * *'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Docker pull
        run: docker pull tmvdl/projects:sucht
